<?xml version="1.0" encoding="GB2312"?>
<!-- 配置文件 -->
<Config xmlns="http://app/action" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://app/action DefAction.xsd">
	
	<Action id="IG_INDEX_ACTION">
		<Description>网站入口</Description>
		<ErrorAction>com.xmzy.frameext.simpledb.action.RollbackAndEndTrans</ErrorAction>
		<ActionContext>
		</ActionContext>
		<ActionParam>
			<ActionStep id="1" classname="com.xmzy.frameext.simpledb.action.BeginConnWithNoTrans" on1Do="next" onOtherDo="error" />
			<ActionStep id="2" classname="com.xmdx.demo.website.action.WebSiteMainAction" onOtherDo="next" on0Do="error" isresult="true" />
			<ActionStep id="3" classname="com.xmzy.frameext.simpledb.action.EndConnWithNoTrans" on1Do="return" onOtherDo="error" />
		</ActionParam>
		<PresentationConfig>
			<ActionDestination method="forward" return_code="error">main/error.jsp</ActionDestination>
			<ActionDestination method="form" return_code="1">edu/xmu/ksp/website/index.html</ActionDestination>
		</PresentationConfig>
	</Action>
	<Action id="IG_FRONT_ACTION">
		<Description>前台入口</Description>
		<ErrorAction>com.xmzy.frameext.simpledb.action.RollbackAndEndTrans</ErrorAction>
		<ActionContext>
		</ActionContext>
		<ActionParam>
			<ActionStep id="1" classname="com.xmzy.frameext.simpledb.action.BeginConnWithNoTrans" on1Do="next" onOtherDo="error" />
			<ActionStep id="2" classname="com.xmdx.demo.website.action.WebFrontAction" onOtherDo="next" on0Do="error" isresult="true" />
			<ActionStep id="3" classname="com.xmzy.frameext.simpledb.action.EndConnWithNoTrans" on1Do="return" onOtherDo="error" />
		</ActionParam>
		<PresentationConfig>
			<ActionDestination method="forward" return_code="error">main/error.jsp</ActionDestination>
			<ActionDestination method="form" return_code="1">edu/xmu/ksp/front/index.html</ActionDestination>
		</PresentationConfig>
	</Action>
	
</Config>